body {
    background-image: url(https://images.unsplash.com/photo-1571177854935-b4e4be915966?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    font-family: 'Lato';
    color: aliceblue;
}

#content {
    text-align: center;
    padding-top: 25%;
    color: rgba(27, 155, 214, 0.308);
    text-shadow: 2px 2px 3px rgba(4, 37, 75, 0.938);
    
    
}

html {
    height: 100%;
}
h1 {
    font-weight: 700;
    font-size: 5em;
}
hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
    border-color: rgba(11, 100, 128, 0.938);
}
.btn-default {
    
    background-color: rgba(11, 100, 128, 0.938);
    border-color: rgb(0,0,0);
}